section {
  width: 480px;
  height: auto;
  margin: 0 auto;
}
div {
  position: relative;
  width: 480px;
  height: 75px;
  padding: auto;
  float: left;
  margin: 0 auto;
  text-align: center;
}
div:nth-child(2){
  height: 150px;
}
.one {
  height: 150px;
}
.two {
  width: 240px;
  height: 250px;
  margin: 0px;
}
div:nth-child(9){
  height: 80px;
}
p {
  display: inline;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
}

@media( min-width:768px){
  section {
      width: 960px;
      height: auto;
      margin: 0 auto;
  }
  div {
      position: relative;
      width: 960px;
      height: 100px;
      padding: auto;
      float: left;
      margin: 0 auto;
      text-align: center;
  }
  div:nth-child(2){
      height: 600px;
      width: 200px;
  }
  .one{
      width: 380px;
      height: 200px;
  }
  .two{
      width: 190px;
      height: 250px;
  }
  div:nth-child(9){
      width: 760px;
      height: 150px;
  }
}